<div class="row">
	<div class="cell well">
		<div class="g">
			<div class="g-b">
				
				<!-- Monthly Nav -->
				<ul class="monthNav">
					<li class="dib monthNav-item" ng-repeat="month in budgetedMonths">
						<monthnavitem class="monthNav-inner" data="month" click="selectMonths(months)" budgeted-months="budgetedMonths" selected="selected"></monthnavitem>
					</li>
				</ul>

				<!-- Totals -->
				<budgetline budget="parentBudgets.totals.budgets[0]"></budgetline>

				<!-- Spending -->
				<div ng-repeat="parents in parentBudgets">
					<p class="budgetGroup">{{parents.category_name}}</p>
					<ul>
						<li ng-repeat="budget in parents.budgets">
							<budgetline budget="budget"></budgetline>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>