// *************************************
//
//   Budget Group
//   -> Parent Category Title
//
// *************************************

.budgetGroup{
	margin-top: 40px;
	margin-bottom: 15px;
	font-size: 18px;
	text-transform: uppercase;
}
