// *************************************
//
//   Month Nav
//   -> Single Nav item for a month
//
// *************************************

.monthNav{
	text-align: center;
}

// -------------------------------------
//   Structure
// -------------------------------------

.monthNav-item {
	position: relative;
	display: inline-block;
	width: 75px;
	height: 75px;
	border: 1px solid black;
	margin: 0 5px;
	cursor: pointer;
	text-align: center;
}

.monthNav-item-color{
	height: 20px;
	margin-bottom: 5px;
	background-color: #eee;

	.is-selected &{
		background-color: green;
	}

	.is-selected.is-over &{
		background-color: red;
	}
}

.monthNav-item-date{
	padding: 0 5px;
}