// *************************************
//
//   Month Nav
//   -> Single Nav item for a month
//
// *************************************

.monthNav{
	margin-left: -5px;
	margin-right: -5px;
	text-align: center;

	@media screen and (max-width: 960px) {
		font-size: 14px;
		line-height: 1.3em;
	}

	@media screen and (max-width: 820px) and (min-width: 520px) {
		font-size: 16px;
	}
}

// -------------------------------------
//   Structure
// -------------------------------------

.monthNav-item{
	width: 100 / 12 * 1%;
	padding: 0 5px;
	margin-bottom: 10px;

	@media screen and (max-width: 820px) {
		width: 100 / 6 * 1%;
	}

	@media screen and (max-width: 440px) {
		width: 100 / 4 * 1%;
	}
}

.monthNav-inner {
	position: relative;
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
	@include user-select(none);
}

.monthNav-item-color{
	height: 20px;
	margin-bottom: 5px;
	background-color: #eee;

	.is-selected &{
		background-color: green;
	}

	.is-selected.is-over &{
		background-color: red;
	}
}

.monthNav-item-date{
	height: 55px;
	padding: 0 5px;

	@media screen and (max-width: 960px) {
		height: 40px;
	}

	@media screen and (max-width: 820px) and (min-width: 520px) {
		height: 55px;
	}
}

.monthNav-item-date-inner{
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}