// *************************************
//
//   Transaction
//   -> List of transactions
//
// *************************************

.transaction{
	padding: 5px 10px;

	&:nth-of-type(2n-1){
		background-color: #FAFAFA;
	}
}

// -------------------------------------
//   Structure
// -------------------------------------

.transaction-date{
	margin-bottom: 0;
	background: #ccc;
	padding: 5px 10px;
	text-align: center;
}

.transaction-info{
	float: left;

	p{
		margin-bottom: 0;
	}
}

.transaction-amount{
	float: right;
}

.transaction-none{
	margin-top: 50px;
	text-align: center;
}